#home {
  display: grid;
  text-align: left;
  margin: 0 auto;
  margin-top: 68px;
  color: #2c3953;
}

#home > * {
  width: 100%;
  padding: 85px 0;
}

#home > *:nth-child(even) {
  background-color: #fbfbfb;
}

#home > * > * {
  max-width: 1000px;
  padding: 0 30px;
  margin: 0 auto;
}

.section-title {
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 700;
  margin: 23px 0;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.section-item {
  margin-top: 40px;
  width: 475px;
}

.section-item:last-child {
  justify-self: end;
}

#home h1 {
  font-size: 18px;
}

#home p,
#home p > * {
  font-size: 14px;
  color: #757b88;
}

.image-border {
  border: 4px solid #0058ff;
  border-radius: 50%;
}

@media screen and (max-width: 1020px) {
  section {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
  }

  .section-title {
    text-align: center;
  }

  .section-item {
    margin: 40px auto;
  }
}

@media screen and (max-width: 600px) {
  .section-item {
    width: auto;
  }
}
